title = "Car List"
url = "/car-list"
layout = "Default"
is_hidden = 0

[CarsforsellList]
==
{% partial 'CarSelectPage' %}
<div class="container carlistpage">

    <div class="row">
      <div class="col-md-12 col-sm-12">
      	<div class="row">
      		<div class="col-md-12 col-sm-12">
      	<h1>{{head_title}}</h1>
      </div>
      	</div>
      	<?php $m=0; ?>
      	<div class="row carlist_all">
  			{% for car in carslist %}
  			<?php $m++; ?>
				<div class="col-md-4 col-sm-12 carlist_one"><div class="carlist_content" >
          <div class="carlist_img"><img src="{{ car.carlist_image|media }}"/></div>
        <h2>{{ car.title }}</h2><p class="shortdesc">{{ car.shortdesc }}</p><a {% if car.isaccessories %} href="/cvsmart/caraccessories/{{ car.slug }}" {% else %}href="/cvsmart/car/{{ car.slug }}" {% endif %}>More Info</a></div></div>
			 {% endfor %}
      	</div>
      	<ul id="pagination" class="pagination-sm"></ul>
      </div>
  </div>
</div>
<script type="text/javascript">
  var currentpage = {{ currentpage}};
  var totalpages =  {{ sizeofcarlist }};

</script>
