title = "Home"
url = "/"
layout = "Default"
is_hidden = 0

[Carshome]
[HomeRotateBannerList]
[StaticBannerList]
[YoutubeLinkList]
==

  <section id="home">
  	<div class="containerd">
      <!-- *** HOMEPAGE CAROUSEL ***
      _________________________________________________________ -->
      <!-- Slider main container -->
      <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

              {% if homerotatebanner %}
                {% for slider in homerotatebanner %}
                <div class="swiper-slide col-md-12">
                  <a href="/cvsmart/car/{{ slider.imagelink }}" style="background-image: url({{ slider.imagebanner|media }});" class="slider-content"><img src="{{ slider.imagebanner|media }}"/></a>
                </div>
                {% endfor %}
              {% endif %}
          </div>


          <div class="swiper-pagination" style="background: transparent;"></div>
          <div class="s-button-prev">
            <span class="fa fa-angle-left"></span>
          </div>
          <div class="s-button-next">
             <span class="fa fa-angle-right"></span>
          </div>
      </div>

      <!-- *** HOMEPAGE CAROUSEL END *** -->
  </div>
  </section>
   <section id="homesearch">
<div class="container">

    <div class="row">
      <div class="col-md-8 col-sm-12">
       	{% partial 'HomeForm' %}
      </div>
      <div class="col-md-1 col-sm-12 "></div>
      <div class="col-md-3 col-sm-12 ">
       		<div class="home_sidebanner youtubelinklist swiper-container">
	          <!-- Additional required wrapper -->
	          <div class="swiper-wrapper">

	              {% if youtubelinklist %}
	                {% for slider in youtubelinklist %}
	                <div class="swiper-slide col-md-12">
	                  <a href="https://www.youtube.com/watch?v={{ slider.video_id }}" data-lity style="background-image: url(http://img.youtube.com/vi/{{ slider.video_id }}/mqdefault.jpg);" class="slider-content youtubelink"><span class="videobg"></span></a>
	                </div>
	                {% endfor %}
	              {% endif %}
	          </div>


	          <div class="swiper-pagination"></div>
	          <div class="hidden s-button-prev">
	            <span class="fa fa-angle-left"></span>
	          </div>
	          <div class="hidden s-button-next">
	             <span class="fa fa-angle-right"></span>
	          </div>
	      </div>
	      <div class="static_sidebanner">
	      	<div class="home_sidebanner homestaticbanner swiper-container">
	          <!-- Additional required wrapper -->
	          <div class="swiper-wrapper">
	          	{% if homestaticbanner %}
	      	 {% for banner in homestaticbanner %}
	      	 <div class="swiper-slide">
	      		<a href="{{ banner.link }}"><img src="{{ banner.staticimage|media }}"></a>
	      	</div>
	      		 {% endfor %}
	      		 {% endif %}
	      		 <div class="swiper-pagination"></div>
	          <div class="hidden s-button-prev">
	            <span class="fa fa-angle-left"></span>
	          </div>
	          <div class="hidden s-button-next">
	             <span class="fa fa-angle-right"></span>
	          </div>
	      </div>
	      </div>
      </div>
    </div>
    <!-- /.col-md-3 -->
  </div>
</section>


<script type="text/javascript">
	var carcategory = JSON.parse('{{ car_categorylist|raw }}');
	var car_accesor = JSON.parse('{{ car_accesortlist|raw }}');
	$(document).ready(function(){
		var dbrand = new Array();
		$.each(carcategory,function(i,a){
			if($.inArray(a.brand, dbrand) < 0 ){
				dbrand.push(a.brand)
				$(".car_brand_select").append("<option value='"+a.brand+"'>"+a.brand+"</option>");
			}
		})
		$(".car_brand_select").select2();
		$(".car_brand_select").change(function(){
			var car_brand_select_val = $(this).val();
			if(car_brand_select_val!=""){
				var dmodel = new Array();
				$(".car_model_select").html("<option value=''>All Models</option>")
				$.each(carcategory,function(i,a){
					if(a.brand == car_brand_select_val){
						if($.inArray(a.model, dmodel) < 0 ){
							dmodel.push(a.model)
							$(".car_model_select").append("<option value='"+a.model+"'>"+a.model+"</option>");
						}
					}
				})
				$(".car_model_select").removeAttr("disabled");
				$(".car_model_select").select2();
			}else{
				$(".car_model_select").html("<option value=''>All Models</option>")
				$(".car_model_select").attr("disabled","");
				$(".car_model_select").select2();
			}
		})
		$(".car_brand_select").trigger("change")
		var abrand = new Array();
		$.each(car_accesor,function(i,a){
			if($.inArray(a.brand, abrand) < 0 ){
				abrand.push(a.brand)
				$(".car_accessories_brand").append("<option value='"+a.brand+"'>"+a.brand+"</option>");
			}
		})
		$(".car_accessories_brand").select2();
	})
</script>