<div class="carselectpage">
<div class="container ">
   <div class="row">
      <div class="col-md-11 col-sm-12">
          <div class="row">
            <div class="col-md-4 col-sm-12">
                <select class="form-control custom-select">
                  <option>Categories</option>
                  {% if car_categorieslist %}
                      {% for slider in car_categorieslist %}
                      <option value="{{slider }}">{{ slider }}</option>
                      {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="col-md-4 col-sm-12">
              <select class="form-control custom-select">
                  <option>Brand</option>
                  {% if car_brandlist %}
                      {% for slider in car_brandlist %}
                      <option value="{{slider }}">{{ slider }}</option>
                      {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="col-md-4 col-sm-12">
              <select class="form-control custom-select">
                  <option>All state</option>
                  {% if car_statelist %}
                      {% for slider in car_statelist %}
                      <option value="{{slider }}">{{ slider }}</option>
                      {% endfor %}
                    {% endif %}
                </select>
            </div>
          </div>
      </div>
      <div class="col-md-1 col-sm-12">
          <button class="submitbutton form-control"><i class="fa fa-search"></i></button>
      </div>
    </div>
</div>
</div>